<!DOCTYPE html>
<head>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>

  <img id="meslime" src="{{ url_for('static',filename='graphics/greenslime.png')}}" height="130px" width="190px">
  
  <div id="textbox">
    <h2>
    About Me
    </h2>
    <p>
    My name is Tyler Ennis and I'm a junior soon-to-be-senior at East Carolina University. I also like making cute games.
    <br>
    Contact me - ennist18@students.ecu.edu
    </p>
  </div>
  <a href="/">
    <input type="button" value="Go back">
  </a>
  
</body>